*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

:root{
    --prime-color: #291720;
    --text-color: #f6bd60;
    --header-color: #f8af38; 
    --blend-color: #3f172c8e;
    --accordion-color: #D4E6F1;
}

body{
    min-height: 100vh;
    background-color: var(--prime-color) !important;
}

body::before{
    content: '';
    display: block;
    height: 5rem;
}

#navigation{
    background-color: var(--prime-color);
}

#nav-item{
    position: relative;
}

#nav-item li{
    font-size: 1rem;
    font-weight: 500;
}

#socials-link a{
    color: rgb(114, 139, 160);
    transition: 0.3s linear;
}

#socials-link a:hover{
    color: rgb(9, 229, 245);
}

#nav-icon-logo{
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}

#nav-icon-logo:hover{
    transform: rotate(360deg);
}

#offcanvas-para{
    width: 100%;
    animation-name: offparagraph;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/* For introduction styling*/

#carous-intro{
    height: 100%;
}
#intro-watch{
    height: 80vh;
    background-position: center;
    background-size: contain;
}
/*! This styling is for Character section carousel*/
#character-carous{
    padding-top: 3rem;
}

#charText h4{
    color: var(--header-color);
    padding-left: 5rem;
    letter-spacing: 3px;
    transition: 0.5s ease-in    ;
}

#charText h4:hover{
    color: #d4f804;
}
/* This code is for the carousel images styling*/
#charImg img{
    background-color: var(--prime-color);
    transition: 0.5s linear;
    height: 15rem;
    max-width: 100%;
    cursor: pointer;
}
#charImg img:hover{
    background-color: #666161;
}

/*!Character carousel ends*/

/*? Video Carousel Styling*/
#vid-carous{
    height: 100%;
}

#vidText{
    position: relative;
}
#vidText h4{
    color: var(--header-color);
    padding-left: 5rem;
    letter-spacing: 3px;
    transition: 0.5s ease-in;
}

#vidText h4:hover{
    color: #d4f804;
}
#vidText i{
    margin-left: 1rem;
}
/*
#video-carous img{
    transition: 0.5s linear;
    height: 14rem;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-bottom: 1.5rem solid #D81159;
}

#video-carous img:hover{
    transform: scale(1.1);
}
*/
#video-carous iframe{
    transition: 0.5s linear;
    height: 14rem;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-bottom: 1.5rem solid #D81159;
}


/* VIDEO CAROUSEL ENDS*/

/*! VIDEO SUGGESTION CAROUSEL STARTS*/

#suggestion-section{
    height: 100%;
    background-color: var(--prime-color);
    background-image: url(./Assets/Carousel3/718419.jpg);
    background-position: center;
    background-size: cover;
}
#suggestion-container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Suggestion-Head{
    display: block;
    margin: 0 auto;
}

#Suggestion-Head h1{
    font-weight: bolder;
    font-size: 3rem;
    color: var(--header-color);
}
#Suggestion-Head p{
    color: var(--text-color);
}
#suggestion-car{
    width: 50%;
}

#suggested-video img{
    height: 15rem;
    padding: 0.3rem 0.5rem;
    max-width: 100%;
    transition: 0.3s linear;
}

#suggested-video img:hover{
    filter: brightness(50%);
}

/*! VIDEO SUGGESTION CAROUSEL ENDS*/

#Faqs{
    color: var(--text-color);
}
#Faqs h3{
    font-size: 5rem;
    font-weight: bold;
}
#avatar img{
    width: 20rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
}
#avatar p{
    text-justify: inter-word;
    margin-right: 4rem;
    text-indent: 2em;
    text-align: justify;
    font-size: 1.1rem;
    color: var(--text-color);
}
#accordion-btn{
    background-color: var(--accordion-color);
    font-weight: bold;
    font-size: 1.1rem;
}

#accordion-btn:hover{
    background-color: #adbbc4;
}

#accordion-item{
    background-color: var(--accordion-color);
}

#section{
    padding-top: 20rem;
    background-color: var(--prime-color);
}

/*? This styling is use for the animation on sidebar/offcanvas */
@keyframes offparagraph {
    0%{
        color: #d3d3d3 ;
    }
    45%{
        color: #d4f804 ;
    }
    75%{
        color: rgb(9, 9, 248);
    }
    100%{
        color: rgb(231, 6, 6);
    }
}

#offcanvas-nav li{
    color: rgb(11, 192, 11);
}

#offcanvas-nav li:hover{
    color: rgb(236, 144, 6);
}


#socials-link-intro svg{
    color: rgb(114, 139, 160);
    transition: 0.2s;
}

#socials-link-intro svg:hover{
    color: rgb(9, 229, 245);
}

/*? End of canvas animation code block*/

@media only screen and (min-height: 480px) and (max-width: 767px){
    
    #carous-intro{
        height: 50%;
}
    #intro-watch{
        height: 50vh;
        background-position: center;
        background-size: contain;
}
  
    #charText h4{
        padding: 0;
        text-align: center;
        transition: 0.5s ease-in    ;
}
    #charText i{
        display: block;
        margin: 1rem auto;
    }
    #charImg img{
        background-color: #212529;
        transition: 0.5s linear;
        width: 15rem;
        margin: 0 auto;
        height: 15rem;
        cursor: pointer;
    }
    #vidText h4{
        padding: 0;
        text-align: center;
        transition: 0.5s ease-in;
    }    
    #vidText i{
        display: block;
        margin: 1rem auto;
    }

    #suggestion-container{
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #Suggestion-Head h1{
        display: none;
    }
    #Suggestion-Head p{
        display: none;
    }
    #suggestion-car{
        width: 100%;
    }
    
    #suggested-video img{
        height: 15rem;
        max-width: 100%;
        transition: 0.3s linear;
    }
    #avatar{
        display: none;
    }
}