*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    min-height: 100vh;
}

body::before{
    content: '';
    display: block;
    height: 5rem;
}


#nav-item{
    position: relative;
}

#nav-item li{
    font-size: 1rem;
    font-weight: 500;
}

#socials-link a{
    color: rgb(114, 139, 160);
    transition: 0.3s linear;
}

#socials-link a:hover{
    color: rgb(9, 229, 245);
}

#nav-icon-logo{
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}

#nav-icon-logo:hover{
    transform: rotate(360deg);
}

#offcanvas-para{
    width: 100%;
    animation-name: offparagraph;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

/* For introduction styling*/
#intro-watch{
    height: 80vh;
    background-position: center;
    background-size: contain;
}




@keyframes offparagraph {
    0%{
        color: #d3d3d3 ;
    }
    45%{
        color: #d4f804 ;
    }
    75%{
        color: rgb(9, 9, 248);
    }
    100%{
        color: rgb(231, 6, 6);
    }
}

#offcanvas-nav li{
    color: rgb(11, 192, 11);
}

#offcanvas-nav li:hover{
    color: rgb(236, 144, 6);
}


#socials-link-intro svg{
    color: rgb(114, 139, 160);
    transition: 0.2s;
}

#socials-link-intro svg:hover{
    color: rgb(9, 229, 245);
}